/* SIMPLE WEBSITE CSS - PROJECT 03 */
body {
    background-color: rgb(132, 34, 178);
    margin-top: 0px;
    font-family: sans-serif;
    color: rgb(235, 235, 235);
}

main{
    background-color: rgb(125, 119, 128);
}

header{
    /*background-color: rgb(235, 235, 235);*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/flowers.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    Height: 20em;
    margin-top: -1.5em;
}

/* --------------------------------------------- */
/* HEADINGS */
/* --------------------------------------------- */

header h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    color: rgb(235, 235, 235);
    padding-top: 10%;
    font-size: 300%;
}

h1, h2, h3 {
    font-family: Verdana, sans-serif;
}

h1 {
    font-size: 240%;
}

h2 {
    font-size: 180%;
    color:rgb(235, 235, 235);
}

h3 {
    font-size: 120%;
    color: #dda3ff;
}

h4 {
    font-size: 110%;
    color:#dda3ff;
}

/* --------------------------------------------- */
/* NAV BAR */
/* --------------------------------------------- */

nav{
    background-color: rgb(57, 43, 63);
    height:3em;
    padding: 0.5em 0;
}

nav a:link,
nav a:visited {
    font-size: 150%;
    margin:  1em;
    color: rgb(235, 235, 235);
    text-decoration: none;
    line-height: 2em;
    padding-bottom: 0.1em;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.25s;
}

nav a:hover,
nav a:active {
border-bottom: 2px solid #dda3ff;
transform: border-bottom;
transform-origin: bottom right;
transition: transform .5s;
padding-bottom: 0.1em;
}

/* --------------------------------------------- */
/* SECTION */
/* --------------------------------------------- */

section{
    padding: 2em 3em;
}

.long-copy {
    font-size: 16px;
    line-height: 150%;
}

ol li {
    line-height: 150%;
}

/* --------------------------------------------- */
/* FOOTER */
/* --------------------------------------------- */

footer {
    padding: 2em 3em;
    background-color: rgb(57, 43, 63);
}