/* SIMPLE WEBSITE CSS - PROJECT 03 */
body {
    background-color: rgb(132, 34, 178);
    margin-top: 0px;
    font-family: sans-serif;
    color: rgb(235, 235, 235);
}

main{
    background-color: rgb(125, 119, 128);
}

header{
    /*background-color: rgb(235, 235, 235);*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(flowers.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    Height: 20em;
    margin-top: -1.5em;
}

header h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    color: rgb(235, 235, 235);
    padding-top: 10%;
}

h1, h2, h3 {
    font-family: Verdana, sans-serif;
}

nav{
    background-color: rgb(57, 43, 63);
    height:3em;
    padding: 0.5em 0;
}

/****NAV BAR****/

nav a:link,
nav a:visited {
    font-size: 150%;
    margin:  1em;
    color: rgb(235, 235, 235);
    text-decoration: none;
    line-height: 2em;
    padding-bottom: 0.1em;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.25s;
}

nav a:hover,
nav a:active {
border-bottom: 2px solid #dda3ff;
transform: border-bottom;
transform-origin: bottom right;
transition: transform .5s;
padding-bottom: 0.1em;
}

section{
    padding: 2em 3em;
}

footer {
    padding: 2em 3em;
    background-color: rgb(57, 43, 63);
}