/* --------------------------------------------- */
/* BASIC SETUP */
/* --------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #5f5f5f;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    line-height: 150%;
}

/* --------------------------------------------- */
/* HEADINGS */
/* --------------------------------------------- */

h1 {
    font-size: 300%;
}

h2 {

}

h3 {
    font-size: 150%;
}

.resources-title-textbox{
    font-size: 150%;
}


/* --------------------------------------------- */
/* NAV BAR */
/* --------------------------------------------- */

.top-nav li {
    display: inline-block;
}


/* --------------------------------------------- */
/* SECTION */
/* --------------------------------------------- */

section {
    float:left;
}

/* --------------------------------------------- */
/* ASIDE */
/* --------------------------------------------- */

aside {
    float: right;
    width: 100%;
}

span.icon {
    float: left;
    width: 10%;
    color: rgb(119, 119, 253);
    font-size: 120%;
    transform:translate(0%, 50%);
}

.search{
    float: right;
    width: 90%;
    padding-bottom: 10%;
}

.search input {
    width: 100%;
    border-radius: 200px;
    border: 2px solid rgb(119, 119, 253);
    padding: 4%;
}

.newsletter input {
    width: 100%;
    font-size: 100%;
    border-radius: 5px;
    border: none;
}

form input:nth-child(2n) {
    font-weight: bold;
    background-color: rgb(119, 119, 253);
    transition: background-color 0.25s;
    color: white;
}

form input:nth-child(2n):hover,
form input:nth-child(2n):active {
    background-color: rgb(57, 57, 255);
}

.newsletter {
    clear: both;
    background-color: rgb(17, 17, 79);
    color: white;
    text-align: center;
    padding: 10%;
}

.newsletter h3,
.newsletter p {
    padding-bottom: 5%;
}

.newsletter p:last-child{
    padding-top: 10%;
}

.newsletter input {
    padding: 5%;
    margin: 3% 0;
}

.newsletter i {
    color: white;
    font-size: 200%;
    display:block;
}

.newsletter h3 {
    display: block;
}

.resources-title-textbox {
    text-transform: uppercase;
    margin: 10% 0;
    font-size: 100%;
    letter-spacing: 1px;
    color: black;
}

.resources-title-textbox i {
    float: left;
    margin-right: 3%;
    color: rgb(119, 119, 253);;
}

.article-unit {
    clear: both;
}

.article-unit a:link,
.article-unit a:visited {
    font-weight: bold;
    color: rgb(47, 47, 47);
    border-bottom: 1px black solid transparent;
    transition: border-bottom;
}

.article-unit a:hover,
.article-unit a:active {
    border-bottom: 1px black solid;
}

.article-unit p {
    color: rgb(119, 119, 253);
}

.article-unit:after {
    display: block;
    height: 1px;
    background-color:#91919158;
    content: " ";
    width: 100%;
    margin: 0 auto;
    margin: 5% 0;
}